body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    height: 100%;
}

.header ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.header {
    background-color: #86796c;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.main {
    flex: 1;
}

.content1 span {
    font-size: 48px;
    font-weight: 900;
}

.content1 button {
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #c10c0c;
    color: #F9FAF8;
    font-weight: bold;
}

.content1 .text {
    width: 525px;
}

.content1 {
    padding: 50px 100px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #86796c;
    color: #F9FAF8;
}

.content2 {
    padding: 20px 100px 70px;
    text-align: center;
}

.content2 span {
    font-size: 36px;
}

.content2 .images {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.content2 img {
    border: 5px solid #c10c0c;
    border-radius: 8px;
}

.image {
    width: 175px;
}

.content3 {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #E5E7EB;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    font-weight: 200;
    color: #1F2937;
}

.content3 p {
    margin-bottom: 0;
    max-width: 800px;
    align-self: center;
}

.content3 .quotee {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
}

.content4 {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
    font-size: 18px;
}

.content4 .cta-box {
    display: flex;
    justify-content: center;
    gap: 250px;
    align-items: center;
    background-color: #c10c0c;
    border-radius: 12px;
    padding: 50px 100px;
}

.content4 span {
    font-weight: bold;
    color: #F9FAF8;
}

.content4 p {
    margin: 0px;
    color: #E5E7EB;
    font-weight: 200;
}

.content4 button {
    padding: 10px 45px;
    background-color: #c10c0c;
    border: 3px solid #F9FAF8;
    border-radius: 12px;
    color: #F9FAF8;
    font-weight: bold;
}

.footer {
    background-color: #86796c;
    text-align: center;
    padding: 35px 0px;
    color: #F9FAF8;
}